pkgbase = librime-git
	pkgdesc = Rime input method engine
	pkgver = 1.14.0.r11.g03d944c
	pkgrel = 1
	epoch = 1
	url = https://github.com/rime/librime
	arch = x86_64
	license = BSD-3-Clause
	makedepends = git
	makedepends = cmake
	makedepends = boost
	makedepends = gtest
	makedepends = ninja
	depends = boost-libs
	depends = capnproto
	depends = gcc-libs
	depends = glibc
	depends = opencc
	depends = yaml-cpp
	depends = leveldb
	depends = librime-data
	depends = lua
	depends = google-glog
	depends = marisa
	provides = librime
	conflicts = librime
	source = git+https://github.com/rime/librime.git
	source = git+https://github.com/lotem/librime-octagram.git
	source = git+https://github.com/hchunhui/librime-lua.git
	source = git+https://github.com/rime/librime-charcode.git
	source = git+https://github.com/lotem/librime-proto.git
	source = git+https://github.com/rime/librime-predict.git
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP

pkgname = librime-git
