pkgbase = zed-i18n-cn
	pkgdesc = Localization toolkit for Zed editor — extract, translate, and build multilingual releases
	pkgver = 1.13.2
	pkgrel = 1
	url = https://github.com/LI-NA/zed-i18n
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-or-later
	depends = hicolor-icon-theme
	depends = zlib
	depends = alsa-lib
	depends = glib2
	depends = glibc
	depends = libxkbcommon
	depends = libbsd
	depends = libmd
	depends = libxcb
	depends = util-linux-libs
	depends = libffi
	provides = zed
	conflicts = zed
	options = !debug
	source_x86_64 = zed-i18n-cn-1.13.2.tar.gz::https://github.com/LI-NA/zed-i18n/releases/download/v1.13.2-i18n.1/zed-i18n-zh-CN-linux-x86_64.tar.gz
	b2sums_x86_64 = f5a075fee2d149f2a310b2cc280966fac96526838152e1e362744be59cdc38c6f4cbca6ae5cbde26435b7bcb6c60464b60298f176be89e881b11b7195dcb893b
	source_aarch64 = zed-i18n-cn-1.13.2.tar.gz::https://github.com/LI-NA/zed-i18n/releases/download/v1.13.2-i18n.1/zed-i18n-zh-CN-linux-aarch64.tar.gz
	b2sums_aarch64 = f5a075fee2d149f2a310b2cc280966fac96526838152e1e362744be59cdc38c6f4cbca6ae5cbde26435b7bcb6c60464b60298f176be89e881b11b7195dcb893b

pkgname = zed-i18n-cn
