pkgbase = zed-i18n-cn
	pkgdesc = Localization toolkit for Zed editor — extract, translate, and build multilingual releases
	pkgver = 1.20.2
	pkgrel = 1
	url = https://github.com/LI-NA/zed-i18n
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-or-later
	depends = hicolor-icon-theme
	depends = zlib
	depends = alsa-lib
	depends = glib2
	depends = glibc
	depends = libxkbcommon
	depends = libbsd
	depends = libmd
	depends = libxcb
	depends = util-linux-libs
	depends = libffi
	provides = zed
	conflicts = zed
	options = !debug
	source_x86_64 = zed-i18n-cn-1.20.2.tar.gz::https://github.com/LI-NA/zed-i18n/releases/download/v1.20.2-i18n.2/zed-i18n-linux-x86_64.tar.gz
	b2sums_x86_64 = e1530ad2a669cecd2656ade1f2734fa440bf84f811228b9a7a1f4f33c47feb93dcf0bf6825a0b6b4d60da569113a2433a1502e85c2a0b635d4fc440f09a9abb6
	source_aarch64 = zed-i18n-cn-1.20.2.tar.gz::https://github.com/LI-NA/zed-i18n/releases/download/v1.20.2-i18n.2/zed-i18n-linux-aarch64.tar.gz
	b2sums_aarch64 = e1530ad2a669cecd2656ade1f2734fa440bf84f811228b9a7a1f4f33c47feb93dcf0bf6825a0b6b4d60da569113a2433a1502e85c2a0b635d4fc440f09a9abb6

pkgname = zed-i18n-cn
