pkgbase = reinamanager
	pkgdesc = A galgame/visual-novel manager,Under development......
	pkgver = 0.27.0
	pkgrel = 1
	url = https://github.com/huoshen80/ReinaManager
	arch = x86_64
	arch = aarch64
	license = AGPL-3.0-or-later
	depends = cairo
	depends = gdk-pixbuf2
	depends = glib2
	depends = gtk3
	depends = hicolor-icon-theme
	depends = webkit2gtk-4.1
	depends = libsoup3
	depends = libxcb
	depends = glibc
	depends = gcc-libs
	options = !strip
	options = !debug
	source_x86_64 = https://github.com/huoshen80/ReinaManager/releases/download/v0.27.0/ReinaManager_0.27.0_amd64.deb
	sha256sums_x86_64 = 0c83d348ca76c34465d952fa6ac9139e2fcf6e6db25b5cf3beba4aedc3a6737c
	source_aarch64 = https://github.com/huoshen80/ReinaManager/releases/download/v0.27.0/ReinaManager_0.27.0_arm64.deb
	sha256sums_aarch64 = ff11cb283872b504a58cec37aa2805bbc5141d7d3b20358f3259b3d4584582db

pkgname = reinamanager
