pkgbase = reinamanager
	pkgdesc = A galgame/visual-novel manager,Under development......
	pkgver = 0.28.1
	pkgrel = 1
	url = https://github.com/huoshen80/ReinaManager
	arch = x86_64
	arch = aarch64
	license = AGPL-3.0-or-later
	depends = cairo
	depends = gdk-pixbuf2
	depends = glib2
	depends = gtk3
	depends = hicolor-icon-theme
	depends = webkit2gtk-4.1
	depends = libsoup3
	depends = libxcb
	depends = glibc
	depends = gcc-libs
	options = !strip
	options = !debug
	source_x86_64 = https://github.com/huoshen80/ReinaManager/releases/download/v0.28.1/ReinaManager_0.28.1_amd64.deb
	sha256sums_x86_64 = 711b32947ea277ecee52d3c2c1ced9c546cdc5e44079009750734e42c8e6ecb0
	source_aarch64 = https://github.com/huoshen80/ReinaManager/releases/download/v0.28.1/ReinaManager_0.28.1_arm64.deb
	sha256sums_aarch64 = 7015146769974b52bd9a2c29e06235b4b99fa2937f0d7c31f2dbda8212b25fb5

pkgname = reinamanager
