pkgbase = reinamanager
	pkgdesc = A galgame/visual-novel manager,Under development......
	pkgver = 0.26.3
	pkgrel = 1
	url = https://github.com/huoshen80/ReinaManager
	arch = x86_64
	arch = aarch64
	license = AGPL-3.0-or-later
	depends = cairo
	depends = gdk-pixbuf2
	depends = glib2
	depends = gtk3
	depends = hicolor-icon-theme
	depends = webkit2gtk-4.1
	depends = libsoup3
	depends = libxcb
	depends = glibc
	depends = gcc-libs
	options = !strip
	options = !debug
	source_x86_64 = https://github.com/huoshen80/ReinaManager/releases/download/v0.26.3/ReinaManager_0.26.3_amd64.deb
	sha256sums_x86_64 = cdc15c395e689df7472040da38dbb901edc4e3a6a0f6abe2c01d5d16d29855ec
	source_aarch64 = https://github.com/huoshen80/ReinaManager/releases/download/v0.26.3/ReinaManager_0.26.3_arm64.deb
	sha256sums_aarch64 = d06d5f8b4993d35fd66f367ea0c7849daba4a3a0e12fcc6633b84ab6a67884c4

pkgname = reinamanager
